**/.classpath
**/.project
**/.settings
**/target
.DS_Store
.classpath
.project
.settings
.factorypath
.idea
target
*.iml
*.class
*~
*.orig
hs_err_*.log

pom.xml.releaseBackup

src/test/java/projects/
src/test/java/debug/DebugS3.java
src/test/java/debug

mobie-files
mobie-hcs
mobie-project
mobie-table
