**/.classpath
**/.project
**/.settings
**/target
.DS_Store
.classpath
.project
.settings
.factorypath
.idea
target
*.iml
*.class
*~
*.orig
hs_err_*.log

release.properties
pom.xml.releaseBackup

mobie-files
mobie-hcs
mobie-project
mobie-table
