**/.classpath
**/.project
**/.settings
**/target
.vscode
.idea
.DS_Store
.classpath
.project
.settings
.factorypath
target
*.iml
*.class
*~
*.orig
hs_err_*.log

src/test/java/projects
src/test/java/debug

mobie-files
mobie-hcs
mobie-project
mobie-table
